- if defined?(@current) && @current.present?
  %section.hero.is-primary
    .hero-body
      .container
        .columns
          .column
            %h1.title.is-1 #{@current[:temp].round}°
            %h2.subtitle.is-3 #{@current[:city]}, #{@current[:country_code]}
          .column
            %img{src: @current[:icon_url]}
            %h3.subtitle.is-4= @current[:condition]
          .column
            - if @current[:wind_speed]
              %h4.subtitle.is-5
                Wind: #{@current[:wind_speed].round} km/h
                - if @current[:wind_deg]
                  %i.fa.fa-long-arrow-up(style="transform: rotate(#{@current[:wind_deg] - 180}deg)")
            - if @current[:cloud_cover]
              %h4.subtitle.is-5 Cloud Cover: #{@current[:cloud_cover]}%
            - if @current[:visibility]
              %h4.subtitle.is-5 Visibility: #{@current[:visibility].round(1)} km
